*.hep*
*.lhe
*.pyc
*.ps*
*.aux
*.dvi
*.log
*.ps
*.eps
*.pdf
*.gv
*.png
*.svg
*.dot
*.tex
*.txt
*.root
*.egg-info
*.out
*.bak
.idea
.cache
.coverage
.vscode
pyhepmc-0.3.2
hepmc2root.py
page
testSite
processing.min.js
pylintrc
Chris_QCD
NEW
htmlcov
OLD
web
docs/_*
random_examples
