*.hep*
*.lhe
*.pyc
*.ps*
*.aux
*.dvi
*.log
*.eps
*.pdf
*.gv
*.png
*.svg
*.dot
*.tex
*.txt
*.root
*.egg-info
*.out
*.bak
.idea
.cache
.coverage
.vscode
.benchmark_cache
htmlcov
docs/_*
random_examples
notebook
refdoc
test_*.*
example/*_0.*
