appnope==0.1.0
bottle==0.12.8
coverage==4.0
CProfileV==1.0.7
decorator==4.0.4
dot2tex==2.9.0
flake8==2.4.1
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
mccabe==0.3.1
networkx==1.10
nose==1.3.7
numpy==1.9.3
path.py==8.1.1
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
pydot==1.0.2
pydot2==1.0.33
pyflakes==1.0.0
pyparsing==2.0.3
simplegeneric==0.8.1
traitlets==4.0.0
webcolors==1.5
wheel==0.26.0
